header {
  align-items: flex-end;
  background-color: #283f51;
  display: flex;
  padding: 25px 30px;
}

header nav ul {
  margin: 0;
  padding-bottom: 5px;
  list-style: none;
}

header nav li {
  display: inline-block;
  margin: 0 10px;
}

header nav li:last-child {
  margin-right: 0;
}

.logo-container {
  width: 45%;
}

.logo-container h1 {
  color: white;
  font-family: 'calibri';
  margin-bottom: 0;
}

.nav-container {
  text-align: right;
  width: 55%;
}

.nav-container h2 {
  font-size: 18px;
  margin-bottom: 30px;
}

li a {
  color: #fff;
  text-decoration: none; /* remove underline*/
}

.speak-section {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a2d5b0), to(#eff0cf));
  padding: 60px 40px;
  text-align: center;
}

.speak-section h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

.speak-section p {
  line-height: 30px;
}

.art-class {
  padding-left: 44px;
  padding-top: 50px;
  width: 63%;
}

.art-class2 {
  text-align: left;
  padding-left: 44px;
  width: 63%;
  margin-top: 110px;
}

.img-class {
  float: right;
  margin-top: -290px;
}

article h1 {
  font-size: 30px;
  color: #6f928a;
}

article h4 {
  margin-top: -26px;
  color: #9aa5ad;

}

article p {
  color: #7d7d7d;
}

.foot-class {
  background-color: #283f51;
  padding: 39px;
  margin-top: 75px;
  padding-left: 56px;
  color: #688e84;
}

.nav-class2 {
  text-align: right;
}

.nav-class2 h2 {
  color: #4d6d6e;
  padding-top:6px;
  padding-right: 10px;
  padding-bottom: 2px;
}

footer nav ul {
  margin-top: -40px;
  list-style: none;
  padding-right: 52px;
}

footer nav li {
  display: inline-block;
  margin: 0 10px;
}

footer nav li a {
  color: #fff;
  text-decoration: none; /* remove underline*/
}
